.kortti {
    width: 80%;
    max-width: 300px;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
    background-color: #2d2d2d;
    border-left: 5px solid white;
  }
  
  .kortti button {
    margin-top: 0.5rem;
    padding: 0.4rem 0.8rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .kortti button:hover {
    background-color: #333;
  }
  